/* Write your CSS here! */
body {
    color: rgb(22, 1, 22);
    background-color: rgb(189, 205, 207);
    margin: 8px;
    display: block;
}

figure {
    
    position: relative;
    text-align: center;
    padding: 50px;
}

h1 {
    text-align: center;
    border: 3px solid green;
  }

h3 {
    text-align: center;
}


p {
    margin-top: 50;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 50;
  }

h2 {
    margin-top: 100px;
    margin-left: 200px;
}

.funParagraph {
    color: green;
}

#mainHeading {
    color: red;
}